
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #eaeaea;
}
.box{
  padding: 5rem;
  border: 4px solid #919191;
  box-shadow: #999 8px 8px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
h1{
  text-align: center;
  font-family: "Lobster", serif;
  font-size: 5rem;
  margin-bottom: 3rem;
  color: #2f3849;
}
.iconDiv{
  font-size: 5rem;
  margin-bottom: 2rem;
}
p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #2f3849;;
}