
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #eaeaea;
}
#box{
  padding: 5rem;
  border: 2px solid;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  text-align: center;
  font-family: "Lobster", serif;
  font-size: 5rem;
  margin-bottom: 3rem;
}
.iconDiv{
  font-size: 5rem;
  margin-bottom: 2rem;
}
p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}